body {
  background-color: #222222;
}
div {
  display: grid;
  grid: ". . ." 1fr ". center ." 1fr ". . ." 1fr / 1fr 1fr 1fr;
  place-items: center;
  height: 95vh;
}

input,
h1 {
  width: max-content;
  grid-area: center;
}

input {
  transform: translateY(200%);
}
